


  <!-- /.content-wrapper bg-light -->



  <div class="wrapper bg-soft-primary">

    <div class="container py-2 pt-md-12 pb-md-14">
      <div class="row text-center" style="margin-top: 50px;">
        <div class="col-lg-10 col-xxl-8 mx-auto">

              <hr style="margin-bottom: 30px; padding: 0px">
              <span style="margin-bottom: 15px; display: block;">Project Marafrica: a network monitoring, integrating and assessing marine biodiversity data along the west africa to understand, predict and mitigate climatic / oceanographic changes.</span>
              <span style="margin-bottom: 15px; display: block;">Aga-Khan Foundation and FCT-Portugal and Project STM - Survi des Tortues Marines. MAVA Foundation and PRCM - https://www.prcmarine.org/en/.</span>
              <span style="display: block;">&copy; 2023 <a href="https://www.biodiversitydatascience.com" target="_blank" style="text-decoration: none;">CCMAR - Centre of Marine Sciences </a> \\ web developed by <a href="https://www.biodiversitydatascience.com" target="_blank" style="text-decoration: none;">biodiversityDataScience</a>.</span>
              <address class="pe-xl-15 pe-xxl-17">Universidade do Algarve, Campus de Gambelas, 8005-139 Faro.</address>

        </div>
        <!-- /column -->

        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>

  <script src="https://www.marafrica.net/assets/js/plugins.js"></script>
  <script src="https://www.marafrica.net/assets/js/theme.js"></script>
</body>

</html>
