<!DOCTYPE html>

<script> var home = true;</script>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Project Marafrica: a network monitoring, integrating and assessing marine biodiversity data along the west africa to understand, predict and mitigate climatic / oceanographic changes.">
  <meta name="author" content="jorge assis">
  <title>Biodiversity database of the Banc D'Arguin National Park</title>

  <link rel="shortcut icon" href="https://www.marafrica.net/assets/img/favicon.png">
  <link rel="stylesheet" href="https://www.marafrica.net/assets/css/plugins.css">
  <link rel="stylesheet" href="https://www.marafrica.net/assets/css/style.css">
  <!-- <link rel="stylesheet" href="https://www.marafrica.net/assets/css/colors/navy.css"> -->

  <link rel="preload" href="https://www.marafrica.net/assets/css/fonts/thicccboi.css" as="style" onload="this.rel='stylesheet'">
  <link href="https://www.marafrica.net/assets/css/leaflet.css" rel="stylesheet" />
  <link href="https://www.marafrica.net/assets/css/leaflet.fullscreen.css" rel="stylesheet" />

  <link href="https://www.marafrica.net/assets/css/custom.css" rel="stylesheet" />

  <script src="https://www.marafrica.net/assets/js/leaflet.js"></script>
  <script src="https://www.marafrica.net/assets/js/Leaflet.fullscreen.min.js"></script>
  <script src="https://www.marafrica.net/assets/js/leaflet-providers.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head> 

<body>

<section class="content-wrapper">

    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg fancy navbar-light navbar-bg-light caret-none">
        <div class="container">
          <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">

            <div class="navbar-brand w-100">
              <a href="https://www.marafrica.net/pnba/">
                <h4 class="text-navy fs-20 mb-0">Biodiversity of the Banc D'Arguin</h4>
              </a>
            </div>

            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">

              <div class="offcanvas-header d-lg-none">
                <h4 class="text-navy fs-20 mb-0">Biodiversity of the Banc D'Arguin</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100" style="text-align: right">

                <ul class="navbar-nav">

                  <li class="dropdown dropdown-submenu dropend">
                    <a class="dropdown-item dropdown-toggle" href="https://www.marafrica.net/" data-bs-toggle="dropdown">Home</a>
                     <ul class="dropdown-menu">
                     <li class="nav-item"><a class="dropdown-item" href="https://www.marafrica.net/pnba/">Banc D'Arguin National Park</a></li>
                     <li class="nav-item"><a class="dropdown-item" href="https://www.marafrica.net/bijagos/">Bijagós Archipelago</a></li>
                     </ul>
                     
                  </li> 

                  <li class="nav-item">
                    <a class="nav-link" href="https://www.marafrica.net/pnba/about">About</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="https://www.marafrica.net/pnba/species">Species list</a>
                  </li>

                <li class="nav-item">
                  <a class="nav-link" href="https://www.marafrica.net/pnba/records">Records</a>
                </li>

                </ul>
                <div class="offcanvas-footer d-lg-none">
                  <div>
                    <nav class="nav social social-white mt-4">
                    </nav>
                  </div>
                </div>
              </div>
            </div>

            <div class="navbar-other w-15 d-flex ms-auto">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item">
                  <nav class="nav social social-muted justify-content-end text-end">
                    <a href="mailto: eserrao@ualg.pt"><i class="uil uil-envelope-alt"></i></a>
                  </nav>
                </li>
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

  </section>
