
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
        list-style:none;
        padding: 0px;
        margin: 0px;
        display:block;
        width:270px;
        z-index:1000000000000000000;
        box-shadow: 1px 1px 5px #BABABA;
        border-radius: 5px;
        background: #fff;
        cursor:pointer;
        overflow: auto;
        max-height: 350px;
}
.ui-menu .ui-menu {
        margin-top: -3px;
        width:270px;
}
.ui-menu .ui-menu-item {
        margin:0px;
        padding: 10px;
        width:270px;
}
.ui-menu .ui-menu-item a {
        text-decoration: none;
        display: run-inblock;
        padding: .2em .4em;
        line-height: 1.5;
        zoom: 1;
        cursor: pointer;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
.ui-helper-hidden-accessible{
  display: none;
}
/**! Centered image --------------------------------------------------------------------------- **/
.thumbnail {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;

}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail2 {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius:10%;

}
.thumbnail2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail2 img.portrait {
  width: 100%;
  height: auto;
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 7px;
  }
.custom-popup .leaflet-popup-content-wrapper a {

  }
.custom-popup .leaflet-popup-tip-container {

  }
.custom-popup .leaflet-popup-tip {

  }
