---
layout: default-bijagos
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-12 pb-md-5">
          <div class="row text-center">
            <div class="col-lg-10 col-xxl-8 mx-auto">

              <h3 class="display-6">Biodiversity data of <mark>Cabo Verde MPAs.</mark><br>Information for education, conservation and management.</h3>
              <h2 class="fs-16 text-uppercase text-muted py-2 mb-0">About</h2>

            </div>
          </div>
        </div>


        <div class="container py-2 pt-md-1 pb-md-0">
          <div class="row text-left">

          <div class="col-md-12" style="padding-left: 30px">
            <h5>About the biodiversity database</h5>
          </div>

        </div>
      </div>

        <div class="container py-14 pt-md-2 pb-md-5">
          <div class="row text-left">

          <div class="col-md-12">
            <div class="card shadow-lg">

              <div style=" padding: 22px">

                Cabo Verde, an archipelago situated in the central Atlantic Ocean, is renowned for its rich marine biodiversity and vibrant ecosystems. To preserve these invaluable natural resources, the nation has established several Marine Protected Areas (MPAs). These MPAs are critical for conserving marine life, supporting sustainable fisheries, and protecting habitats from over-exploitation and environmental degradation. MPAs play a crucial role in the ecological and economic sustainability of Cabo Verde. They provide safe havens for endangered species, protect vital breeding and feeding grounds, and help maintain the balance of marine ecosystems. By safeguarding these areas, Cabo Verde ensures the longevity of its fishing industry, promotes eco-tourism, and preserves its natural heritage for future generations.

                <br><br>
                This portal aims to compile, curate, integrate and make publicly available, all the biodiversity records of the bijagos, in order to inform managers, scientists and the general public.

              </div>

            </div>
          </div>
              <!--/.card-body -->
            </div>
        </div>

      </div>

  </section>
