---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-12 pb-md-5">
          <div class="row text-center">
            <div class="col-lg-10 col-xxl-8 mx-auto">


              <h3 class="display-6">Biodiversity data informing conservation and managment strategies of the <mark>Banc D'Arguin National Park</mark></h3>
              <h2 class="fs-16 text-uppercase text-muted py-2 mb-0">About</h2>

            </div>
          </div>
        </div>

      </div>

  </section>


  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

            <div class="container py-2 pt-md-1 pb-md-0">
              <div class="row text-left">

              <div class="col-md-12" style="padding-left: 30px">
                <h5>About the biodiversity database</h5>
              </div>

            </div>
          </div>

            <div class="container py-14 pt-md-0 pb-md-5">
              <div class="row text-left">

              <div class="col-md-12">
                <div class="card shadow-lg">

                  <div style=" padding: 15px">

                    Information here
                  </div>



                </div>
              </div>
                  <!--/.card-body -->
                </div>
            </div>

      </div>  <!--/. is Ok, because of java -->

  </section>
