---
layout: default-pnba
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-12 pb-md-5">
          <div class="row text-center">
            <div class="col-lg-10 col-xxl-8 mx-auto">

              <h3 class="display-6">Biodiversity data of the <mark>Banc D'Arguin National Park.</mark><br>Information for education, conservation and management.</h3>
              <h2 class="fs-16 text-uppercase text-muted py-2 mb-0">About</h2>

            </div>
          </div>
        </div>


        <div class="container py-2 pt-md-1 pb-md-0">
          <div class="row text-left">

          <div class="col-md-12" style="padding-left: 30px">
            <h5>About the biodiversity database</h5>
          </div>

        </div>
      </div>

        <div class="container py-14 pt-md-2 pb-md-5">
          <div class="row text-left">

          <div class="col-md-12">
            <div class="card shadow-lg">

              <div style=" padding: 22px">

                The Parc National du Banc d′Arguin (PNBA, comprising 12,000 km2 of which half are marine) is the largest marine protected area in western Africa, recognized for its unique universal value by the UNESCO’s Marine World Heritage Programme. It is a globally significant hotspot for blue carbon, as the third largest area of seagrass and the third largest carbon stock among these UNESCO sites. PNBA is also a Ramsar Wetland of international importance and a WWF “Gift to the Earth”, and is the most important habitat of the Western Atlantic for nesting birds and Palaearctic migratory waders.  The PNBA’s extensive marine vegetation provides major shelter, feeding and/or breeding sites for a wide range of marine species, including seabirds, turtles, endangered elasmobranchs and many other species of conservation and/or commercial interest (adapted from https://doi.org/10.1016/j.gecco.2021.e01890)

                <br><br>
                This portal aims to compile, curate, integrate and make publicly available, all the biodiversity records of the PNBA, in order to inform managers, scientists and the general public.

              </div>

            </div>
          </div>
              <!--/.card-body -->
            </div>
        </div>

      </div>

  </section>
