---
layout: default-bijagos
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-12 pb-md-5">
          <div class="row text-center">
            <div class="col-lg-10 col-xxl-8 mx-auto">

              <h3 class="display-6">Biodiversity data of the <mark>Cunene Biogeographic Transition Zone.</mark><br>Information for education, conservation and management.</h3>
              <h2 class="fs-16 text-uppercase text-muted py-2 mb-0">About</h2>

            </div>
          </div>
        </div>


        <div class="container py-2 pt-md-1 pb-md-0">
          <div class="row text-left">

          <div class="col-md-12" style="padding-left: 30px">
            <h5>About the biodiversity database</h5>
          </div>

        </div>
      </div>

        <div class="container py-14 pt-md-2 pb-md-5">
          <div class="row text-left">

          <div class="col-md-12">
            <div class="card shadow-lg">

              <div style=" padding: 22px">

                The Cunene River Biogeographic Transition Zone, situated along the border between Angola and Namibia, is a unique and ecologically significant area. This zone, where distinct biogeographic regions converge, harbors a rich tapestry of flora and fauna. This transition zone plays a crucial role in the ecological and economic sustainability of the region. It provides safe havens for endangered species, protects vital breeding and feeding grounds, and helps maintain the balance of diverse ecosystems. By safeguarding this area, Angola and Namibia ensure the longevity of their natural resources, promote eco-tourism, and preserve their natural heritage for future generations.

                <br><br>
                This portal aims to compile, curate, integrate and make publicly available, all the biodiversity records of the bijagos, in order to inform managers, scientists and the general public.

              </div>

            </div>
          </div>
              <!--/.card-body -->
            </div>
        </div>

      </div>

  </section>
