---
layout: clean
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
var id = urlParams.get('id');
</script>

<script type="text/javascript" src="http://www.biodiversitydatascience.com/BancDArguinWeb/data/dataWeb.json"></script>
<script>
  var dataFromJson = JSON.parse(data);
</script>

<script type="text/javascript" src="http://www.biodiversitydatascience.com/BancDArguinWeb/data/speciesListWeb.json"></script>
<script>
  var dataSpeciesFromJson = JSON.parse(speciesList);
</script>

<script type="text/javascript" src="http://www.biodiversitydatascience.com/BancDArguinWeb/data/datasetListWeb.json"></script>
<script>
  var dataSetFromJson = JSON.parse(datasetList);
</script>

<script>

  taxon = dataFromJson[id].taxonId;
  taxon = dataSpeciesFromJson[taxon];

  datasetId = dataFromJson[id].datasetId;
  datasetId = dataSetFromJson[datasetId].datasetName;

  if( datasetId != "MarAfrica" && datasetId != "iNaturalist" ) { datasetId = "GBIF"; };

  year = dataFromJson[id].year;
  month = dataFromJson[id].month;
  day = dataFromJson[id].day;
  photo = dataFromJson[id].photo;

</script>

<div>
  <div id="ajax_taxon"><script>document.write(taxon);</script></div>
  <div id="ajax_datasetId"><script>document.write(datasetId);</script></div>
  <div id="ajax_year"><script>document.write(year);</script></div>
  <div id="ajax_month"><script>document.write(month);</script></div>
  <div id="ajax_day"><script>document.write(day);</script></div>
  <div id="ajax_photo"><script>document.write(photo);</script></div>
</div>
