---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-12 pb-md-5">
          <div class="row text-center">
            <div class="col-lg-10 col-xxl-8 mx-auto">


              <h3 class="display-6">Biodiversity data informing conservation and managment strategies of the <mark>Banc D'Arguin National Park</mark></h3>
              <h2 class="fs-16 text-uppercase text-muted py-2 mb-0">Species list</h2>

            </div>
          </div>
        </div>


        <div class="container py-14 pt-md-1 pb-md-0">
          <div class="row text-center">
            <div class="col-lg-9 col-xxl-7 mx-auto">

            </div>
          </div>
        </div>

      </div>

  </section>






<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
var id = urlParams.get('id');
</script>

<script type="text/javascript" src="http://www.biodiversitydatascience.com/BancDArguinWeb/data/dataWeb.json"></script>
<script>
  var dataFromJson = JSON.parse(data);
</script>

<script type="text/javascript" src="http://www.biodiversitydatascience.com/BancDArguinWeb/data/speciesListWebDB.json"></script>
<script>
  var dataSpeciesFromJson = JSON.parse(speciesListDB);
</script>

<script>

  taxon = dataSpeciesFromJson[id].name;

  taxon_authority = dataSpeciesFromJson[id].authority;
  taxon_status = dataSpeciesFromJson[id].status;
  taxon_kingdom = dataSpeciesFromJson[id].taxKingdom;
  taxon_phylum = dataSpeciesFromJson[id].taxPhylum;
  taxon_class = dataSpeciesFromJson[id].taxClass;
  taxon_order = dataSpeciesFromJson[id].taxOrder;
  taxon_family = dataSpeciesFromJson[id].taxFamily;
  taxon_genus = dataSpeciesFromJson[id].taxGenus;
  taxon_acceptedName = dataSpeciesFromJson[id].acceptedName;
  taxon_photo = dataSpeciesFromJson[id].photo;
  taxon_nRecords = dataSpeciesFromJson[id].records;

  recordsId = [];
  recordsLon = [];
  recordsLat = [];
  recordsYear = [];
  recordsPhotos = [];
  recordsPhotosId = [];

  for(var i = 0; i < dataFromJson.length; i++) {
      var dataobj = dataFromJson[i];
      if (id == dataobj.taxonId) {
        recordsId.push(dataobj.recId);
        recordsLon.push(dataobj.Lon);
        recordsLat.push(dataobj.Lat);

        if (dataobj.year != "" && dataobj.year != "NA") {
          recordsYear.push(dataobj.year);
        }

        if (dataobj.photo != "" && dataobj.photo != "NA") {
          recordsPhotos.push(dataobj.photo);
          recordsPhotosId.push(dataobj.recId);
        }

      }
  }

  const distinct = (value, index, self) => {
  return self.indexOf(value) === index;
  }

</script>





  <section class="content-wrapper">

      <div class="wrapper bg-soft-primary">

        <div class="container py-14 pt-md-5 pb-md-5">
          <div class="row text-left">

            <script>

              function resolveDomain(string) {

               if ( string.includes("data/defaultPhotos/") ) {

                 return "http://www.biodiversitydatascience.com/BancDArguinWeb/" + string ;

              } else {
                  return string; }
              };

              taxon_photo = resolveDomain(taxon_photo.replace(/\s/g, ''));

              if( taxon_photo != "NA" ) {
              document.write("<div class='col-md-5'><div id='taxon_photo' class='card shadow-lg'><figure class='rounded'><img src='" + taxon_photo + "' /></figure></div></div>")
            };

          </script>

          <script> if( taxon_photo != "NA" ) { document.write("<div class='col-md-7'>") }; </script>
          <script> if( taxon_photo == "NA" ) { document.write("<div class='col-md-12'>") }; </script>

            <div class="card shadow-lg" style="padding: 0px">

                <div class="spinner-border" id="loading-records" style="position: absolute; z-index: 1000; top: 475px; left: 0; right: 0; margin: auto;"></div>

                <style>
                  @media (min-width: 576px) {
                    .mapSpeciesPage { height: 384px; margin-top: 30px }
                  }
                  @media (min-width: 768px) {
                    .mapSpeciesPage { height: 202px; margin-top: 0px }
                  }
                  @media (min-width: 992px) {
                    .mapSpeciesPage { height: 278px }
                  }
                  @media (min-width: 1200px) {
                    .mapSpeciesPage { height: 335px; margin-top: 0px }
                  }
                  @media (min-width: 1400px) {
                    .mapSpeciesPage { height: 390px; margin-top: 0px }
                  }
                </style>

                <div id='map' class='custom-popup rounded mapSpeciesPage' style="z-index: 500;"></div>

                <script>var dim = document.getElementById("taxon_photo").clientHeight;
                  document.getElementById("map").style.height = dim + "px";
                  window.addEventListener('resize', function(event) {
                    var dim = document.getElementById("taxon_photo").clientHeight;
                    document.getElementById("map").style.height = dim + "px";
                    }, true);
                </script>

                <script>

                    var map = L.map('map', {
                      minZoom: 2,
                      fullscreenControl: {
                          pseudoFullscreen: false
                      }
                    }).setView([20.15, -16], 7);

                    map.scrollWheelZoom.disable();

                    var originalInitTile = L.GridLayer.prototype._initTile
                    L.GridLayer.include({
                    		_initTile: function (tile) {
                    				originalInitTile.call(this, tile);

                    				var tileSize = this.getTileSize();

                    				tile.style.width = tileSize.x + 3 + 'px';
                    				tile.style.height = tileSize.y + 3 + 'px';
                    		}
                    });

                    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
                      attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',

                         }).addTo(map);

                         function onClick(e) {

                          var inner_counter = 0;
                          var fullrecord = '/recordInformation.html?id=' + e.target.myCustomID + '/';

                          $("#loading-records").css("display", "block");

                          $.ajax({
                             url:fullrecord,
                             type:'GET',
                             success: function(data){
                                 html = $('<div>').html(data);
                                 res_ajax_scientificName = html.find("div#ajax_taxon").html();
                                 res_ajax_scientificName = res_ajax_scientificName.substring(0,22);

                                 res_ajax_datasetName = html.find("div#ajax_datasetId").html();
                                 res_ajax_datasetName = res_ajax_datasetName.substring(0,38);

                                 res_ajax_year = html.find("div#ajax_year").html();
                                 res_ajax_month = html.find("div#ajax_month").html();
                                 res_ajax_day = html.find("div#ajax_day").html();

                                 res_ajax_link = html.find("div#ajax_link").html();

                                 var innerHTML = "";
                                 innerHTML += '<div><h6>' + res_ajax_scientificName;
                                 innerHTML += '</div></h6>';
                                 innerHTML += '<div>' + res_ajax_year + res_ajax_month + res_ajax_day ;
                                 innerHTML += '</div>';
                                 innerHTML += '<div>' + res_ajax_datasetName;
                                 innerHTML += '</div>';
                                 innerHTML += '<div><a href="';
                                 innerHTML += '/recordPage?' + e.target.myCustomID;
                                 innerHTML += '">Ver registo ></a>'
                                 innerHTML += '</div>';

                                 e.target.bindPopup(innerHTML)
                                 e.target.openPopup();
                                 $("#loading-records").css("display", "none");

                             }
                          });
                         };

                          // map

                          for(var i = 0; i < recordsLon.length; i++) {

                            var dataobjLon = recordsLon[i];
                            var dataobjLat = recordsLat[i];
                            var dataobjRecId = recordsId[i];
                              var marker =   L.circleMarker([dataobjLat, dataobjLon], { weight: 1.5, radius: 4.25, color: "#BA911E", fillColor:  '#fab759', fillOpacity: 0.7 });
                              marker.myCustomID = dataobjRecId.toString();
                              marker.addTo(map).on('click', onClick);

                          }

                </script>

            </div>
          </div>

              <!--/.card-body -->
            </div>
        </div>
            <!--/.card -->

            <div class="container py-2 pt-md-1 pb-md-0">
              <div class="row text-left">

              <div class="col-md-12" style="padding-left: 30px">
                <h5><script>document.write(taxon + " " + taxon_authority);</script></h5>
              </div>

            </div>
          </div>

            <div class="container py-14 pt-md-0 pb-md-5">
              <div class="row text-left">

              <div class="col-md-12">
                <div class="card shadow-lg">

                  <div style=" padding: 15px">
                    <strong>Taxonomy</strong>
                    <br>
                    <script>
                      document.write("<div>" + taxon_kingdom + " \\ " + taxon_class + " \\ " + taxon_order + " \\ " + taxon_family + " \\ " + taxon_genus + " \\ " + taxon + "</div>" );
                      document.write("<div style='margin-top: 3px'>Species name status: " + taxon_status + "</div>");

                      if( taxon_status != "accepted" ) {
                        document.write("<div style='margin-top: 3px'>Accepted name: " + taxon_acceptedName + "</div>");
                       };
                    </script>

                    <br>
                    <strong>Database resume</strong>
                    <br>
                    <script>
                      document.write("Number of records: " + taxon_nRecords);

                      numberYears = recordsYear.filter(distinct).length;
                      var minYears= Math.min(...recordsYear);
                      var maxYears= Math.max(...recordsYear);
                      if( minYears != maxYears) { document.write("<br>Period: " + minYears + " - " + maxYears);};

                      numberPhotos = recordsPhotos.filter(distinct).length;
                      document.write("<br>Associated media: " + numberPhotos + " [photo");
                      if(numberPhotos != 1) { document.write("s]"); }
                      if(numberPhotos == 1) { document.write("]"); }
                    </script>

                  </div>



                </div>
              </div>

                  <!--/.card-body -->
                </div>
            </div>

            <style>
              @media (min-width: 576px) {
                .imageSpeciesPage { height: 350px; margin-bottom: 40px }
              }
              @media (min-width: 768px) {
                .imageSpeciesPage { height: 150px; margin-bottom: 20px }
              }
              @media (min-width: 992px) {
                .imageSpeciesPage { height: 200px;margin-bottom: 30px  }
              }
              @media (min-width: 1200px) {
                .imageSpeciesPage { height: 235px; margin-bottom: 30px }
              }
              @media (min-width: 1400px) {
                .imageSpeciesPage { height: 290px; margin-bottom: 30px }
              }
            </style>

              <div class="container py-14 pt-md-5 pb-md-5">
                <div class="row text-left">

                        <script>

                        if( recordsPhotos.filter(distinct).length >= 1 ) {

                          document.write("<div class='col-md-12' style='padding-left: 30px; margin-bottom: 5px'>");
                          document.write("<h5>Photos from Citizen Scientists</h5>");
                          document.write("</div>");

                          for(var i = 0; i < recordsPhotos.length; i++) {
                              var dataobj = recordsPhotos[i];

                              document.write("<img id='imageId" + i + "' style='display: none;' src='" + dataobj + "medium.jpg' />");
                              var img = document.getElementById('imageId' + i);
                              var width = img.width;
                              var isLoaded = img.complete && img.naturalHeight !== 0;

                              if( isLoaded ) { var urlImg = dataobj + "medium.jpg"; };
                              if( ! isLoaded ) { var urlImg = dataobj + "medium.jpeg" };
                              urlImgLarge = urlImg.replace("medium", "large");

                              document.write("<div class='col-md-3'>");

                              document.write("<a href='http://www.biodiversitydatascience.com/BancDArguinWeb/recordPage?id=" + recordsPhotosId[i] + "'>");
                              document.write("<div class='imageSpeciesPage' style='-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; background-repeat: no-repeat; background-size: cover; background-image: url(" + urlImg + ")'></div>");
                              document.write("</a>");

                              document.write("</div>");


                          }

                         }

                      </script>

                  </div>
              </div>


      </div>  <!--/. is Ok, because of java -->

  </section>
